[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pillow = "*"
grpcio = "*"
gunicorn = "*"
tensorflow-protobuf = "*"
tensorflow-serving-api = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.8"
